<header class="cabecalho">
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link" routerLink="/home">Home</a>
            <a class="cabecalho__menu__link" routerLink="/about">Produto</a>
        </nav>
    </header>

    <main class="apresentacao">
        <section class="apresentacao__conteudo">
            <h1 class="apresentacao__conteudo__titulo">Conheça a Nova Geração Noxus</h1>
            <p class="apresentacao__conteudo__texto">Desempenho extremo. Design inteligente. Liberdade sem limites.

Os notebooks Noxus foram criados para quem não aceita menos que excelência. Com engenharia de ponta, visual impactante e hardware de última geração, nossos produtos entregam desempenho superior para gamers, criadores de conteúdo e profissionais exigentes. Inspirados em modelos consagrados como o Acer Nitro 5, os Noxus unem poder gráfico, eficiência térmica e durabilidade em um corpo elegante e moderno.

Feitos para desafiar o comum. Projetados para durar.</p>
        </section>
        <img class="apresentacao__imagem" src="assets/imagens/modelo.png" alt="modelo png">
    </main>

    <footer class="rodape">
        <p>© 2025 Noxus Technologies.</p>
    </footer>