<header class="cabecalho">
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link" routerLink="/home">Home</a>
            <a class="cabecalho__menu__link" routerLink="/about">Produto</a>
        </nav>
    </header>

    <main class="apresentacao">
        <section class="apresentacao__conteudo">
            <h1 class="apresentacao__conteudo__titulo">Sobre a Noxus</h1>
            <p class="apresentacao__conteudo__texto">Na Noxus, inovação encontra desempenho. Fundada com o propósito de transformar o mercado de tecnologia, desenvolvemos notebooks que aliam design sofisticado, potência extrema e acessibilidade. Inspirados pelos gamers, criadores e profissionais exigentes, nossos produtos são pensados para romper limites e entregar uma experiência fluida, confiável e impactante. Com identidade ousada e foco em qualidade, a Noxus representa a nova geração de tecnologia nacional — feita para quem exige mais.</p>
            <div class="apresentacao__links">
                <h2 class="apresentacao__links__subtitulo">Acesse nossas redes:</h2>
                <a class="apresentacao__links__navegacao" href="https://x.com/">
                    <img src="assets/imagens/x.png" alt="x png">
                    Twitter 
                </a>
                <a class="apresentacao__links__navegacao" href="https://www.instagram.com/">
                    <img src="assets/imagens/insta.png" alt="instagram png">
                    Instagram
                </a>
            </div>
        </section>
        <img class="apresentacao__imagem" src="assets/imagens/logo.png" alt="logo png">
    </main>

    <footer class="rodape">
        <p>© 2025 Noxus Technologies.</p>
    </footer>